.app {
}

.header {
  background-color: #9E5910;
}

.userPicture {
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

.userEmail {
}

.userInfo {
  height: 50px;
}

.footer {
  background-color: #9E5910;
}

a:link, a:visited {
  background-color: #38089E;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #eeeeee;
  border-radius: 5px;
  border: solid 1px black;
  width: 100px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  font-weight: bold;
}


a:hover, a:active {
  background-color: #340D85;
  color: #eeeeee;
}
