.app {
  background-color: #444444;
}

.header {
  background-color: #333333;
}

.userPicture {
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

.userEmail {
}

.userInfo {
  height: 50px;
}

.footer {
  background-color: #333333;
}

a:link, a:visited {
  background-color: #f44336;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #eeeeee;
  border-radius: 5px;
  border: solid 1px black;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}


a:hover, a:active {
  background-color: red;
  color: #eeeeee;
}
